@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Seguridad/MenuPrincipal.cshtml";
}
<div class="container-fluid">
    <h1>Intranet</h1>

    <button class="btn btn-lg btn-primary btn-block"
            button="true">
        <img src="~/images/bcp.png" class="img-rounded img-circle center-block" alt="Cinque Terre" width="250" height="250">
    </button>

</div>	
